.img100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.restrict {
  width: 500px;
}

@media (max-width: 992px) {
  nav.navbar .container {
    margin: 0;
    max-width: 100%;
  }

  form.form-inline {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    min-height: 20vh;
  }
  
  .carousel-item img {
    height: 80vh;
    object-fit: cover;
  }

  .col-md-9 .media {
    display: flex;
    flex-direction: column;
    margin: 10px !important;
  }
  .media img {
    margin-bottom: 10px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  div.restrict {
    width: 100%;
  }
}