.img100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.restrict {
  width: 500px;
}

@media (max-width: 768px) {
  .col-md-9 .media {
    display: flex;
    flex-direction: column;
    margin: 10px !important;
  }
  .media img {
    margin-bottom: 10px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  div.restrict {
    width: 100%;
  }
}