body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.restrict {
  width: 500px;
}

nav.navbar {
  min-height: 10vh;
}

.carousel-item img {
  min-height: 90vh;
  object-fit: cover;
}

@media (max-width: 992px) {
  nav.navbar .container {
    margin: 0;
    max-width: 100%;
  }

  form.form-inline .mr-sm-2.form-control {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .col-md-9 .media {
    display: flex;
    flex-direction: column;
    margin: 10px !important;
  }
  .media img {
    margin-bottom: 10px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  div.restrict {
    width: 100%;
  }
}